@{
  Layout = "_Layout";
}

@model Factory.Models.Machine;

<h1>Add Machine</h1>

@using (Html.BeginForm())
{
  @Html.LabelFor(model => model.Name)
  @Html.TextBoxFor(model => model.Name, new { required = "required" })

  @Html.Label("Install Date")
  @Html.EditorFor(model => model.InstallDate, new { @type = "date" })

  <input type="submit" value="Add" />
}

<p>@Html.ActionLink("Show all Machines", "Index")</p>

<p>@Html.ActionLink("Home", "Index", "Home")</p>