@{
  Layout = "_Layout";
}

@model Factory.Models.Machine;

<h1>Machine Details</h1>
<hr />
<h2>@Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name)</h2>
<h2>@Html.DisplayNameFor(model => model.InstallDate): @Html.DisplayFor(model => model.InstallDate)</h2>

@if (@Model.JoinEntities.Count == 0)
{
  <h3>This Machine has not been assigned to any Engineers yet</h3>
}
else
{
  <h3>Engineers this Machine has been assigned to:</h3>
  <ul>

    @foreach (var join in Model.JoinEntities)
    {
      <li>@Html.ActionLink($"{@join.Engineer.Name}", "Details", "Engineers", new { id = join.Engineer.EngineerId })</li>
      
      @using (Html.BeginForm("DeleteEngineer", "Machines"))
      {
        @Html.Hidden("joinId", @join.EngineerMachineId)

        <input type="submit" value="Delete" />
      }
    }
  </ul>
}

<p>@Html.ActionLink("Assign to an Engineer", "AddEngineer", new { id = Model.MachineId })</p>

<p>@Html.ActionLink("Edit Machine", "Edit", new { id = Model.MachineId })</p>

<p>@Html.ActionLink("Delete Machine", "Delete", new { id = Model.MachineId })</p>

<p>@Html.ActionLink("Back to Machines", "Index")</p>

<p>@Html.ActionLink("Home", "Index", "Home")</p>
