@{
  Layout = "_Layout";
}

@model Factory.Models.Engineer;

<h1>Engineer Details</h1>
<hr />
<h2>@Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name)</h2>

@if (@Model.JoinEntities.Count == 0)
{
  <h3>This Engineer has not been assigned to any Machines yet</h3>
}
else
{
  <h3>Machines this Engineer has been assigned to:</h3>
  <ul>
    @foreach (var join in Model.JoinEntities)
    {
      <li>@join.Machine.Name</li>
    }
  </ul>
}

<p>@Html.ActionLink("Assign to a Machine", "AddMachine", new { id = Model.EngineerId })</p>

<p>@Html.ActionLink("Edit Engineer", "Edit", new { id = Model.EngineerId })</p>

<p>@Html.ActionLink("Delete Engineer", "Delete", new { id = Model.EngineerId })</p>

<p>@Html.ActionLink("Back to Engineers", "Index")</p>

<p>@Html.ActionLink("Home", "Index", "Home")</p>
